section.all-albums {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5vh;

    @media screen and (min-width: 1440px) {
        // debug
        height: 100vh;
        //
    }

    .all-albums-title {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        padding: 0 5vw;

        position: relative;
        isolation: isolate;

        overflow: hidden;

        &::before,
        &::after {
            content: '';

            width: 0;
            height: 1px;

            transition: width 1s ease-in-out;
        }
        &::after {
            background-image: linear-gradient(90deg, black, transparent);
        }
        &::before {
            background-image: linear-gradient(-90deg, black, transparent);
        }

        span {
            margin: 0 10px;
            white-space: nowrap;

            display: inline-block;

            transform: translateY(200%);

            transition: transform 1s 0.1s ease-in-out;
        }

        &.active {
            span {
                transform: translateY(0);
            }

            &::before,
            &::after {
                width: 20%;
            }
        }
    }

    .all-albums-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        gap: 0.7vw;

        height: 100%;
        width: 100%;

        overflow: hidden;

        .albums-column {
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            gap: 1vh;

            .album-column {
                width: 100%;
                aspect-ratio: 3 / 4;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                position: relative;
                isolation: isolate;

                @media screen and (max-width: 1024px) {
                    aspect-ratio: 2 / 3;
                }

                .album-column-img {
                    position: absolute;
                    inset: 0;

                    width: 100%;
                    object-fit: cover;
                    height: 100%;

                    z-index: -1;
                }
            }
        }
    }
}
