section.last-albums {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5vh;

    // debug
    height: 100vh;
    //

    padding: 7vh 5vw;

    background-color: var(--sixty-percent);
    color: var(--primary-color);

    .albums-title {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        position: relative;
        isolation: isolate;

        overflow: hidden;

        &::before,
        &::after {
            content: '';

            width: 0;
            height: 1px;

            transition: width 1s ease-in-out;
        }
        &::after {
            background-image: linear-gradient(90deg, black, transparent);
        }
        &::before {
            background-image: linear-gradient(-90deg, black, transparent);
        }

        span {
            margin: 0 10px;
            white-space: nowrap;

            display: inline-block;

            transform: translateY(200%);

            transition: transform 1s 0.1s ease-in-out;
        }

        &.active {
            span {
                transform: translateY(0);
            }

            &::before,
            &::after {
                width: 20%;
            }
        }
    }
}
